@import url("./modal.css");
@import url("./url_compo.css");
@import url("./body_compo.css");
@import "./colors.css";
@import url("./draggable.css");

* {
  box-sizing: border-box;
}

.html,
.body {
  background-color: var(--container-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 70%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--top-bar-color);
  color: var(--white-color);
  padding: 2rem 0 1rem 0;
}

.create_button {
  font-size: 1.3rem;
  color: var(--white-color);
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 2px solid;
  border-bottom-color: var(--top-bar-color);
  cursor: pointer;
  margin: 0 1rem;
}

.create_button:hover {
  border-color: var(--white-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--white-color);
  font-size: 1.2rem;
  background-color: var(--top-bar-color);
  padding: 1.5rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
}

.compo__del-btn {
  height: fit-content;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  background-color: inherit;
  color: var(--red-color);
  font-weight: bold;
}
