.modal {
  width: 45%;
  height: 25%;
  background-color: #808080;
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal__del-btn {
  text-align: right;
}

.modal__add-btn {
  text-align: right;
}

.modal__input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.gap {
  margin-bottom: 0.5rem;
}

.modal_title,
.modal_contain {
  color: white;
  font-size: large;
}
